<div class="w-[75%] mx-auto mt-[4rem] bg-slate-50 shadow-lg shadow-gray-400 rounded text-center">
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="border-b">
                  <tr >
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                      ID
                    </th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-center">
                      Titulo
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of input">
                        <td>
                                {{data.id}}
                        </td>
                        <td>
                            {{data.title}}
                    </td>
                  <!-- <tr class="border-b" *ngFor="let data of Services.; let i =index">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        {{i+1}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{data[0]}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{data[2]}}
                    </td> -->
                    <!-- <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{data[2]}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{data[3]}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{data[4]}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{data[5]}}
                    </td> -->
                    
                    <td class="text-sm text-gray-900 font-light px-6 py-4 flex justify-center whitespace-nowrap text-center ">
                      <!--FORMA PASANDO POR INDICE -->
                       <!-- <button class="text-center" (click)="editar(data[0], data[1], data[2], data[3], data[4],data[5])"><i class="bi bi-pencil-square"></i></button> -->
                      
                       <!-- PARAMETRO ID -->
                       <button class="" (click)="editar(data.id)">
                        <i class="bi bi-pencil-square text-white bg-yellow-500 px-4 py-3
                        rounded shadow-lg shadow-gray-400 hover:bg-yellow-700"></i>
                      </button>

                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>